.content {
  h2 {
    display: none;
    @media #{$brk-narrow} {
      margin: 1px 0;
      padding-left: 15px;
      font-family: $stack-poiret-one;
      display: block;
      @media #{$brk-wide} {
        display: none;
      }
    }
  }
  img {
  width: 100%;
  max-height: 100%;
  }
  h3{
    font-family:$stack-poiret-one;
    font-size: 1.5em;
    margin: 0 5vw 25px;
    @media #{$brk-narrow} {
      margin-bottom: 5px;
    }
  }
  p {
    display: none;
    @media #{$brk-narrow} {
      display: block;
      padding: 2 20px;
      margin: 2px 5vw 45px;
    }
  }
}
