header {
  max-width: 2280px;
  height: 5%;
  h1{
    text-align: center;
    font-family: $stack-alfa-slab;
    color: $color-border-dark;
    font-size: 2.5em;
  }
  ul{
     list-style-type: none;
     text-align: center;
    li{
      @extend %content;
    }
  }
}

header {
  a {
     color: $color-border-dark;
   &:hover {
     color: #0d0d0d;
   }
  }
}
//breakpoint at 1120 for ul to jump to top//
