//color variables//
$white: #fff;
$mild-grey: #F6F6F6;
$dark-grey: #222222;
$icon-grey: #949494;
$light-black: #030303;
$regent-st-blue: #add8e6;


//functional color variables//

$color-prim: $white;
$color-sec: $mild-grey;
$color-border-dark: $dark-grey;
$color-hover: $light-black;



//font stack
$stack-sans-serif: Helvetica, Arial, sans-serif;
$stack-poiret-one: 'Poiret One', cursive, $stack-sans-serif;
$stack-alfa-slab: 'Alfa Slab One', cursive, $stack-sans-serif;

//border radius//

//Media query breakpoints//
$brk-narrow: "(min-width: 640px)";
$brk-medium: "(min-width: 980px)";
$brk-wide: "(min-width: 1240px)";
